<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="../styles/profile_styles.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

  </head>
  <body>

    <header>
      <div id='user_profile'>
        <img src="icons/Default_pfp.svg.png" id='profile_img' alt="">
        <div id='user_infos'>
          <p id='username'>
          </p>
          <p id='user_bio'>
          </p>
        </div>

      </div>
      <div id='options'>
        <button id='posts_btn' class='opt_btn' type="">posts</button>
        <button id='comments_btn' class='opt_btn'type="">comments</button>
        <button id='likes_btn' class='opt_btn'type="">likes</button>
      </div>
    </header>
    <main id='main_root'>

    </main>

    <script type="module" src='/scripts/profile.js'>
      
    </script>
  </body>
</html>
